{% extends "navbar.html" %}

{% block title %}HEADING{% endblock %}

{% block content %}
<div class="tutorial-container">
    <h1>Popular Progressions: "the ii-V-I"</h1>

    <br>
    <p class="list-header"><strong>Traits</strong></p>
    <ul>
        <li>Three-chord progression of <strong><em>ii-V-I</em></strong>, sometimes rearranged</li>
        <li>Fundamental for jazz musicians, providing a harmonic framework for improvisation and establishing a clear tonal center</li>
    </ul>
    <br>

    <p class="list-header"><strong>Notable Songs</strong></p>
    <ul>
        <li>"Autumn Leaves" - Nat King Cole</li>
        <li>"All the Things You Are" - Ella Fitzgerald</li>
        <li>"Fly Me to the Moon" - Frank Sinatra</li>
    </ul>
    <br>

    <div class="navigation-buttons">
        <a href="/learn/7"><button>Back</button></a>
        <span>8/9</span>
        <a href="/learn/9"><button>Next</button></a>
    </div>
</div>

{% endblock %}
