{% extends "learn_template.html" %}

{% set page_title = "Chord Notation in Major Scales" %}
{% set page_heading = "Chord Notation in Major Scales" %}
{% set prev_url = "/learn/2" %}
{% set next_url = "/learn/4" %}

{% block main %}
<p>
    Each note in a scale is assigned a number based on its position, starting from the tonic. <br />
    Chords built on each of these notes are denoted with <b>Roman numerals</b>.
</p>

<div class="piano" id="piano">
    <!-- white keys -->
    {% for note in ['C4','D4','E4','F4','G4','A4','B4','C5','D5','E5','F5'] %}
        <div class="white-key" data-note="{{ note }}">
            <span class="key-label">{{ note[:-1] }}</span>
        </div>
    {% endfor %}

    <!-- black keys -->
    {% for item in [('C#4', 38), ('D#4', 98), ('F#4', 222), ('G#4', 282), ('A#4', 342), ('C#5', 462), ('D#5', 522)] %}
        <div class="black-key" style="left: {{ item[1] }}px" data-note="{{ item[0] }}">
            <span class="key-label">{{ item[0][:-1] }}</span>
        </div>
    {% endfor %}
</div>

<div class="chord-buttons">
    <button data-chord="i_chord">I</button>
    <button data-chord="ii_chord">ii</button>
    <button data-chord="iii_chord">iii</button>
    <button data-chord="iv_chord">IV</button>
    <button data-chord="v_chord">V</button>
    <button data-chord="vi_chord">vi</button>
    <button data-chord="vii_chord">vii°</button><br />
    <span class="small">Try: (ii-V-I) (I-V-vi-IV) (I-V-vi-iii-IV)</span>
</div>
{% endblock %}