{% extends "navbar.html" %}

{% block title %}Popular Progressions{% endblock %}

{% block content %}
<div class="tutorial-container">
    <h1>Popular Progressions: "Pachelbel's Progression"</h1>

    <div class="content-grid">
        <div>
            <p class="list-header"><strong>Traits</strong></p>
            <ul>
                <li>Utilizes <strong><em>I–V–vi–iii-IV</em></strong>, sometimes rearranged</li>
                <li>Originally a famous wedding song, named "Canon in D Major" or "Pachelbel's Canon" after its composer
                </li>
            </ul>
            <br>

            <p class="list-header"><strong>Notable Songs</strong></p>
            <ul>
                <li>"Canon in D Major" - Johann Pachelbel</li>
                <li>"Firework" - Katy Perry</li>
                <li>"Deep Sea Girl" - Yuuyu</li>
            </ul>
            <br>
        </div>

        <div class="image-container">
            <img src="{{ url_for('static', filename='pachelbel.jpg') }}" alt="Portrait of Johann Pachelbel">
            <div class="image-caption">Johann Pachelbel</div>
        </div>

    </div>



    <div class="navigation-buttons">
        <a href="/learn/5"><button>Back</button></a>
        <span>6/9</span>
        <a href="/learn/7"><button>Next</button></a>
    </div>
</div>

{% endblock %}