{% extends "navbar.html" %}

{% block title %}Popular Progressions{% endblock %}

{% block content %}
<div class="tutorial-container">
    <h1>Popular Progressions: "four-chord progression"</h1>

    <br>
    <p class="list-header"><strong>Traits</strong></p>
    <ul>
        <li>Most commonly utilizes <strong><em>I–V–vi–IV</em></strong>, sometimes rearranged</li>
        <li>Known for its diversity across genres</li>
    </ul>
    <br>

    <p class="list-header"><strong>Notable Songs</strong></p>
    <ul>
        <li>"Someone Like You" - Adele</li>
        <li>"Little Talks" - Of Mice and Men</li>
        <li>"Rude" - Magic!</li>
    </ul>
    <br>

    <div class="navigation-buttons">
        <a href="/learn/3"><button>Back</button></a>
        <span>4/9</span>
        <a href="/learn/5"><button>Next</button></a>
    </div>
</div>

{% endblock %}
