{% extends "navbar.html" %}

{% block title %}Popular Progressions{% endblock %}

{% block content %}
<div class="tutorial-container">
    <h1>Popular Progressions: "Pachelbel's Progression"</h1>

    <p class="list-header"><strong>Example</strong></p>

        <div class="image-container">
            <p><em>“Deep Sea Girl” intro</em></p>
            <br>
            <video controls>
                <source src="{{ url_for('static', filename='deepseagirl.mp4') }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

    <div class="navigation-buttons">
        <a href="/learn/6"><button>Back</button></a>
        <span>7/9</span>
        <a href="/learn/8"><button>Next</button></a>
    </div>
</div>

{% endblock %}
