{% extends "navbar.html" %} {% block title %}Question 1{% endblock %} {% block
content %}
<link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}" />
<body class="quiz">
    <div class="tutorial-container">
        <h1>Quiz – Question {{ page_num }}</h1>
        <p>Current score: <strong id="score-display">{{ score }}</strong></p>
        <p>
            How are major chords denoted and characterized in music (select one
            option for each)?
        </p>
    </div>

    <div class="container">
        <div class="row justify-content-center" style="text-align: center">
            <div class="col-md-2"></div>

            <div class="col-md-3">
                <div class="row justify-content-center">
                    <h4>Associated Sound</h4>
                </div>

                <div class="row justify-content-center mb-2">
                    <button
                        type="button"
                        class="btn btn-outline-dark btn-option"
                        data-group="sound"
                        data-correct="true"
                        id="happy"
                    >
                        Happy/Bright
                    </button>
                </div>

                <div class="row justify-content-center">
                    <button
                        type="button"
                        class="btn btn-outline-dark btn-option"
                        data-group="sound"
                        data-correct="false"
                        id="melancholy"
                    >
                        Melancholic/Sad
                    </button>
                </div>
            </div>

            <div class="col-md-2">
                <div class="row"></div>
            </div>

            <div class="col-md-3">
                <div class="row justify-content-center">
                    <h4>Lowercase/Uppercase</h4>
                </div>

                <div class="row justify-content-center mb-2">
                    <button
                        type="button"
                        class="btn btn-outline-dark btn-option"
                        data-group="case"
                        data-correct="false"
                        id="lowercase"
                    >
                        Lowercase
                    </button>
                </div>

                <div class="row justify-content-center">
                    <button
                        type="button"
                        class="btn btn-outline-dark btn-option"
                        data-group="case"
                        data-correct="true"
                        id="uppercase"
                    >
                        Uppercase
                    </button>
                </div>
            </div>

            <div class="col-md-2"></div>
        </div>
    </div>

    <br />

    <div class="navigation-buttons">
        <span>1/5</span>
        <button id="next-button" disabled data-next-url="/quiz/2">Next</button>
    </div>
    <script>
        initQuiz({
            type: "grouped",
            groups: ["sound", "case"],
        });
    </script>
</body>
{% endblock %}
