{% extends "navbar.html" %} {% block title %}Question 3{% endblock %} {% block
content %}
<link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}" />

<body class="quiz">
    <div class="tutorial-container">
        <h1>Question 3</h1>
        <p>Current score: <strong id="score-display">{{ score }}</strong></p>
        <p>What is the “I–V–vi-IV” chord progression known for?</p>
    </div>

    <div class="container">
        <div class="row justify-content-center" style="text-align: center">
            <div class="col-md-4"></div>

            <div class="col-md-4">
                <div class="row justify-content-center mb-2">
                    <button
                        type="button"
                        class="btn btn-outline-dark btn-option"
                        data-group="chord-prog"
                        data-correct="false"
                        id="q3opt1"
                    >
                        Being named after Pachelbel's Canon
                    </button>
                </div>

                <div class="row justify-content-center mb-2">
                    <button
                        type="button"
                        class="btn btn-outline-dark btn-option"
                        data-group="chord-prog"
                        data-correct="true"
                        id="q3opt2"
                    >
                        Its diversity across genres
                    </button>
                </div>

                <div class="row mb-2">
                    <button
                        type="button"
                        class="btn btn-outline-dark btn-option"
                        data-group="chord-prog"
                        data-correct="false"
                        id="q3opt3"
                    >
                        Its use in modern-day music
                    </button>
                </div>

                <div class="row mb-2">
                    <button
                        type="button"
                        class="btn btn-outline-dark btn-option"
                        data-group="chord-prog"
                        data-correct="false"
                        id="q3opt4"
                    >
                        Being easy to improvise off of
                    </button>
                </div>
            </div>

            <div class="col-md-4"></div>
        </div>

        <div class="navigation-buttons">
            <span>3/5</span>
            <button id="next-button" disabled data-next-url="/quiz/4">
                Next
            </button>
        </div>
    </div>
    <script>
        initQuiz({ type: "single" });
    </script>
</body>
{% endblock %}
