{% extends "navbar.html" %} {% block title %}Question 4{% endblock %} {% block
content %}
<head>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='quiz.css') }}"
    />
</head>
<body class="quiz">
    <div class="tutorial-container">
        <h1>Question 4</h1>
        <p>Current score: <strong id="score-display">{{ score }}</strong></p>
        <p>What genre is the following chord progression associated with?</p>

        <audio controls>
            <source
                src="{{ url_for('static', filename='q4_audio.mp3') }}"
                type="audio/mpeg"
            />
            Your browser does not support the audio element.
        </audio>
    </div>

    <div class="container">
        <div class="row justify-content-center" style="text-align: center">
            <div class="col-md-4"></div>

            <div class="col-md-4">
                <div class="row justify-content-center mb-2">
                    <button
                        type="button"
                        class="btn btn-outline-dark btn-option"
                        data-group="q4"
                        data-correct="true"
                        id="q4opt1"
                    >
                        Jazz
                    </button>
                </div>

                <div class="row justify-content-center mb-2">
                    <button
                        type="button"
                        class="btn btn-outline-dark btn-option"
                        data-group="q4"
                        data-correct="false"
                        id="q4opt2"
                    >
                        Pop
                    </button>
                </div>

                <div class="row mb-2">
                    <button
                        type="button"
                        class="btn btn-outline-dark btn-option"
                        data-group="q4"
                        data-correct="false"
                        id="q4opt3"
                    >
                        Rock
                    </button>
                </div>

                <div class="row mb-2">
                    <button
                        type="button"
                        class="btn btn-outline-dark btn-option"
                        data-group="q4"
                        data-correct="false"
                        id="q4opt4"
                    >
                        Blues
                    </button>
                </div>
            </div>

            <div class="col-md-4"></div>
        </div>

        <div class="navigation-buttons">
            <span>4/5</span>
            <button id="next-button" disabled data-next-url="/quiz/5">
                Submit
            </button>
        </div>
    </div>
    <script>
        initQuiz({ type: "single" });
    </script>
</body>
{% endblock %}
