{% extends "navbar.html" %} {% block title %}Question 2{% endblock %} {% block
content %}
<head>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='quiz.css') }}"
    />
</head>
<body class="quiz">
    <div class="tutorial-container">
        <h1>Question 2</h1>
        <p>Current score: <strong id="score-display">{{ score }}</strong></p>
        <p>How are chords in a major scale ordered?</p>
    </div>

    <div class="container">
        <div class="row justify-content-center" style="text-align: center">
            <div class="col-md-4"></div>

            <div class="col-md-4">
                <!-- one-click (single-group) question -->
                <div class="row justify-content-center mb-2">
                    <button
                        type="button"
                        class="btn btn-outline-dark btn-option majorq"
                        data-group="major-chords"
                        data-correct="true"
                        id="q2opt1"
                    >
                        I-ii-iii-IV-V-vi-viiº
                    </button>
                </div>

                <div class="row justify-content-center mb-2">
                    <button
                        type="button"
                        class="btn btn-outline-dark btn-option majorq"
                        data-group="major-chords"
                        data-correct="false"
                        id="q2opt2"
                    >
                        I-ii°-iii-iv-V-VI-vii
                    </button>
                </div>

                <div class="row mb-2">
                    <button
                        type="button"
                        class="btn btn-outline-dark btn-option majorq"
                        data-group="major-chords"
                        data-correct="false"
                        id="q2opt3"
                    >
                        i-ii-III-iv-v-VI-VII
                    </button>
                </div>

                <div class="row mb-2">
                    <button
                        type="button"
                        class="btn btn-outline-dark btn-option majorq"
                        data-group="major-chords"
                        data-correct="false"
                        id="q2opt4"
                    >
                        I-II-iii-iv°-V-vi-vii
                    </button>
                </div>
            </div>

            <div class="col-md-4"></div>
        </div>

        <div class="navigation-buttons">
            <span>2/5</span>
            <button id="next-button" disabled data-next-url="/quiz/3">
                Submit
            </button>
        </div>
    </div>
    <script>
        initQuiz({ type: "single" });
    </script>
</body>
{% endblock %}
