{% extends "navbar.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="container">
        <h1>Welcome to the Chord Progression Quiz!</h1>
        <h4>Learn more about music and identify chord progressions in writing or through ear!</h4>
        <p>This tutorial assumes a basic knowledge of reading music notes, but will not quiz you on anything that is not explicitly taught within the tutorial.</p>
        <a href="/learn/1" class="start-button">Start Quiz</a>
    </div>
{% endblock %}
